doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Realtime Web Apps 2015

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Web 的即時互動怎麼玩？<br/>拿來做即時線上遊戲吧！
        h3
          a(href='https://fb.me/loveyou.tw', target="_blank") <i class="fa fa-facebook-official"></i> Duncan Hsieh
        img.avatar.avatar--small(src='images/profile.jpg')

      section
        img.logo(src='images/ixda_brandidentity.svg')
        h3
          a(href='https://fb.me/ixda.tw')
            i.fa.fa-camera
            span &nbsp; @ 台灣互動設計協會

      section.emphatic-text(data-bespoke-backdrop='emphatic', data-bespoke-state='fanzytv-blue')
        img.logo(src='images/logo.svg')
        h3 資深<del> 經理 </del> 雜工

      section.fanzytv-background(data-bespoke-state='fanzytv-blue')

      section
        h3.h-center.bullet
          i.fa.fa-desktop.em6
          &nbsp;&nbsp;&nbsp;
          span.bullet
            i.fa.fa-arrows-h.em4
            span &nbsp;&nbsp;&nbsp;
            strong
              i.fa.fa-cloud.em6
            span &nbsp;&nbsp;&nbsp;
            i.fa.fa-arrows-h.em4
            span &nbsp;&nbsp;&nbsp;
          i.fa.fa-mobile.em6
        h3
          strong.bullet &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;realtime

      section
        h2.hero 讓觀眾用 Web App <br/> 與電視內容 <strong>即時互動</strong>

      section
        h2 先來談談 <strong>聊天室</strong> 怎麼做?

      section
        h2.bullet 我第一次寫的聊天室大概長得像<a href="http://www.script-tutorials.com/demos/6/index.html" target="_blank">這樣子</a>
        h2.bullet <del>阿，不小心暴露年紀</del>

      section
        pre.bullet
          code.language-javascript.
            &lt;head&gt; 
              &lt;meta http-equiv="refresh" content="5"&gt; 
            &lt;/head&gt; 
        h2.bullet 其實這就是 http polling

      section
        h2 隨著技術的演竟
        span.table.blue WebSockets
        span.table.green Server-Sent Events
        span.table.bright-green HTTP Streaming
        span.table.orange HTTP Long-Polling
        span.table.red HTTP Polling

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
